---
layout: html.liquid
---
{%- if env.mode != 'prod' %}<!-- ___layouts/default.liquid  -->{%- endif -%}
{% comment %}isModalOpen is used to test if theres a modal open then disable the scroll {% endcomment %}
<body
  class="flex flex-col h-screen text-stone-100 color-change-2x"
  x-data="{'isModalOpen': false, isEditvisible: false, openmenu: false}"
  x-on:keydown.escape="isModalOpen=false"
  x-on:keydown.cmd.shift.e="isEditvisible = ! isEditvisible"
  :class="openmenu ? 'overflow-hidden' : ' ', isModalOpen ? 'overflow-y-hidden':'' "
>

  {%- include "header.liquid" %}
  {% comment %} pagewidth {% endcomment %}
  <main id="main" tabindex="-1" class="flex-grow focus-visible:outline-0">
    {{ content }}
  </main>


  {%- if env.mode != 'prod' %}
    {%- include "misc/edit.liquid" %}
    {%- include "misc/responsive.liquid" %}
  {% endif %}

  {%- include "footer/footer.liquid" %}
